<link rel="stylesheet" href="/css/footer.css" />
<div class="footer">
  <div class="left-footer">
    <img
      width="50"
      height="50"
      src="https://img.icons8.com/stickers/100/group-task.png"
      alt="group-task"
    />
  </div>
  <div class="right-footer">
    <div>Address</div>
    <div>Phone</div>
    <div>email</div>
  </div>
</div>
