<link rel="stylesheet" href="<%=manifest("css/header.css")%>" />
<div class="header">
  <div>
    <img
      width="50"
      height="50"
      src="https://img.icons8.com/stickers/100/group-task.png"
      alt="group-task"
    />
  </div>
  <ul class="user-link">
    <% if(locals.user){ %>
    <li>
      <a href="/user/destroy-session">logout</a>
    </li>
    <%} else { %>
    <li>
      <a href="/user/signin"> signin </a>
    </li>
    <li><a href="/user/signup">signup</a></li>
    <% } %>
  </ul>
</div>
