<link rel="stylesheet" href="/css/header.css" />
<div>
  <ul>
    <% if(locals.user){ %>
    <li>
      <a href="/user/destroy-session">logout</a>
    </li>
    <%} else { %>
    <li>
      <a href="/user/signin"> signin </a>
    </li>
    <li><a href="/user/signup">signout</a></li>
    <% } %>
  </ul>
</div>
