<Form method="POST" action="/user/signup/register">
  <div>
    <label for="name">Name</label>
    <input type="name" id="name" name="name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</Form>
<p><button><a href="/user/auth/google">Signin Using Google</a></button></p>
