<Form method="POST" action="/user/signin/create-session">
  <div>
    <label for="email">email</label>
    <input type="text" id="email" name="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <div>
    <button type="submit">Signin</button>
  </div>
</Form>
<p><button><a href="/user/auth/google">Signin Using Google</a></button></p>
